In [2]:
print("hello world")

hello world

In [4]:
print("hello")

hello

In [6]:
1+1

2

In [8]:
2*4

8

In [9]:
4%2

0

In [10]:
(2+3)*(5+5)

50

In [12]:
#this is a variable assignment
MITE=100

In [13]:
MITE

100

In [14]:
print("the value of MITE variable is",MITE)

the value of MITE variable is 100

In [15]:
'Mangalore is a nice place'

'Mangalore is a nice place'

In [16]:
"mangalore is great place to live"

'mangalore is great place to live'

In [17]:
"i can wrap lot's of quotres into this string"

"i can wrap lot's of quotres into this string"

In [18]:
number=22
name="mite"
print(number+1,name,"is the best place to study")

23 mite is the best place to study

In [19]:
mite=23
print(mite)

23

In [21]:
print("my number is {one} and my name is {two}".format(one=number,two=name))

my number is 22 and my name is mite

In [22]:
x=input("enter the first number")
y=input("enter the second number")
i=int(x)
j=int(y)
print("the product is ",i*j)

enter the first number10
enter the second number35
the product is  350

In [23]:
x=input("enter the first number")
y=input("enter the second number")
i=float(x)
j=float(y)
print("the product is ",i*j)

enter the first number13
enter the second number23
the product is  299.0

x=input("enter the first number")
y=input("enter the second number")
i=bool(x)
j=bool(y)
print("the product is ",i*j)

In [30]:
married=bool(input("are you married ? [True][False]"))

are you married ? [True][False]True

In [31]:
married

True

to accept the input as employee code,employee basic salary and whether he is a fresher or not in the boolean form

In [13]:
a,b=[int(x) for x in input("enter the 2 numbers").split()]
print("product is:",a*b)

enter the 2 numbers1 2
product is: 2

In [1]:
name=input("enter the name")
code=int(input("enter the employee code"))
salary=int(input("enter the employee basic salary"))
ts=1.25*salary
print(ts)
fresher=bool(input("enter whether he is fresher or not"))
print(fresher)

enter the nameshobhith
enter the employee code123
enter the employee basic salary100000
125000.0
enter whether he is fresher or notTrue
True

In [9]:
a,b,c=[int(x) for x in input("enter the 3 numbers").split(',')]
print("product is:",a*b*c)

enter the 3 numbers12,12,32
product is: 4608

In [10]:
x=eval("10+20+30")
print(x)

60

In [12]:
x=eval("(10+23)+(2*3)/(1/2)")
print(x)

45.0

In [14]:
print(10*"hello")

hellohellohellohellohellohellohellohellohellohello

In [1]:
print("hello\nhi")

hello
hi

In [2]:
my_list=['a','b','c']

In [3]:
my_list.append('d')

In [5]:
print(my_list)

['a', 'b', 'c', 'd']

In [6]:
my_list[1:]

['b', 'c', 'd']

In [7]:
my_list[::-1]

['d', 'c', 'b', 'a']

In [8]:
my_list[:1]

['a']

In [10]:
my_list='shobhith'
print(my_list)

shobhith

In [13]:
nest=[1,2,3,[4,5,['target']]]
print(nest)

[1, 2, 3, [4, 5, ['target']]]

In [1]:
name=input("enter name")
if name=='shobhith':
    print("hello shobhith good afternoon")
print("hello how are you")

enter nameshobhith
hello shobhith good afternoon
hello how are you

In [2]:
name=input("enter name")
if name==mnu'shobhith':
    print("hello shobhith good afternoon")
else:
    print("i dont know your name")
print("hello how are you")

enter nameshobhith'
i dont know your name
hello how are you

In [4]:
team=input("entre your favourite team")
if team=='mnu':
    print("it's manchester")
elif team=='chl':
    print("it's chelesa")
else:
    print("playing for an unknown team")

entre your favourite teammnu
it's manchester

In [5]:
s="sachin tendulkar"
for x in s:
    print(x)

s
a
c
h
i
n

t
e
n
d
u
l
k
a
r

In [6]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [18]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [11]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

In [17]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [20]:
for i in range(10):
    if i==7:
        print("lets break after7")
        break
    print(i)

0
1
2
3
4
5
6
lets break after7

In [ ]:
we are having list of cart.
if the cart have more than 500 then we will break and we will insure that it will have an insrance.

In [23]:
li=[400,100,300,600,700]
for i in li:
    if i>=500:
        print("we need insurance")
        break

we need insurance

In [27]:
dict={"h":"hydrogen","n":"nitrogen"}
dict["n"]

'nitrogen'