In [2]:
for i in range(4):
    for j in range(4):
        if i+j<=2:
            print(" ",end=" ")
        if i+j>=3:
            print("*",end=" ")
    print( )

      *
    * *
  * * *
* * * *

In [ ]:
name=input("enter the name")
for i in range(len(name)):
    for j in range(i+1):
        print(name[i],end=' ')
    print()

In [ ]:
rec={}
n=int(input("enter the number of students"))
i=1
while i<=n:
    name=input("enter the student name")
    marks=input("enter % marks of students")
    rec[name]=marks
    i+=1
print("name of student","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

In [ ]:
d={1:"shobhith",2:"sharan",3:"sandesh"}

In [ ]:
d

In [ ]:
d.clear()

In [ ]:
d

In [ ]:
print("sho")

In [ ]:
d={1:"shobhith",2:"sharan",3:"sandesh"}
len(d)

In [ ]:
word=input("enter any word")
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"items")

In [ ]:
word=input("enter the string")
d={}
vowels={'a','e','i','o','u'}
for x in word:
    if x in vowels:
        d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"items")

In [ ]:
squares={x:x*x for x in range(1,6)}
print(squares)

In [ ]:
n=[1,2,3,4,5,5,5,5]
print(n.count(5))

In [ ]:
print(n.index(5))

In [ ]:
n=[1,2,3,4]
n.insert(1,123)
print(n)

In [ ]:
list1=[1,2,3,"hello"]
list2=[4,5,6,"how"]
list1.extend(list2)
print(list1)

### remove from list

In [ ]:
n=[1,2,3,4]
n.remove(1)
print(n)

### pop from the list

In [ ]:
n=[1,2,3,4]
n.pop()
print(n)

In [ ]:
n=[1,2,3,4]
n.reverse()
print(n)

In [ ]:
n=["shobhith","prathyush marle","reevan","shreyan madikeri"]
n.sort()
print(n)

In [ ]:
n=["shobhith","prathyush marle","reevan",2,"shreyan madikeri",1]
n.sort()
print(n)

In [ ]:
n=["shobhith","prathyush marle","reevan","shreyan madikeri"]
n.sort(reverse=True)
print(n)

In [ ]:
x=[10,20,30,40]
y=x[:]
y[1]=777
print(x)
print(y)

### copy by reference

In [ ]:
x=[10,20,30,40]
y=x
y[1]=777
print(x)
print(y)

### copy by value

In [ ]:
x=[10,20,30,40]
y=x.copy()
y[1]=777
print(x)
print(y)

In [ ]:
a=[10,20,30]
b=[40,50,60]
c=a+b
print(c)

In [ ]:
a=[10,20,30]
b=[40,50,60]
c=x*3
print(c)

In [ ]:
x=['nitte','mangalore','mite']
y=['nitte','mangalore','mite']
x==y
x!=y
z=['nitte','mangalore','mite']
x==z

In [ ]:
m=[10,20,30,40,[50,60,70]]
m[3]
m[4][1]
m.clear()

In [ ]:
m

In [ ]:
n=[1,2,3,4]
print(4 in n)

In [ ]:
s=[2**x for x in range(16)]
print(s)

In [ ]:
words=["mite","mysoore","shobhith"]
l=[w[0] for w in words]
print(l)

In [ ]:
def prime(n):
    flag=0
    for i in range(2,n):
        if n%i==0:
            flag=1
        if flag==1:
            return 'Not a Prime'
        else:
            return 'Prime'

prime(4)

In [ ]:
def times2(var):
    return var*2
seq=[1,2,3,4,5]
list(map(times2,seq))

In [ ]:
seq=[1,2,3,4,5]
lambda var:var*2
list(map(lambda var:var*2,seq))

In [ ]:
seq=[1,2,3,4,5]
lambda var:var*2
list(map(lambda var:var*2,seq))
list(filter(lambda item:item%2==0,seq))

In [ ]:
import numpy as np

In [ ]:
np

In [ ]:
import pandas as pd

In [ ]:
pd

In [ ]:
import numpy as np
my_list=[1,2,3]
my_list
np.array(my_list)

In [ ]:
my_mat=[[1,2,3],[4,5,6],[7,8,9]]
my_mat
np.array(my_mat)

In [ ]:
np.arange(0,10)

In [ ]:
np.arange(0,10,2)

In [ ]:
np.zeros(3)

In [ ]:
np.zeros((5,5))

In [ ]:
np.ones((3,3))

In [ ]:
np.linspace(0,10,50)

In [ ]:
np.linspace(0,10,5)

In [ ]:
np.eye(4)

In [ ]:
np.random.rand(2)

In [ ]:
np.random.rand(5,5)

In [ ]:
np.random.randn(5,5)

In [ ]:
ar=np.random.randint(1,100,10)
print(ar)

In [ ]:
runarr=np.random.randint(0,50,10)
print(runarr)

In [ ]:
arr=np.arange(25)
arr.reshape(5,5)

In [ ]:
runarr.max()

In [ ]:
runarr.argmax()

In [ ]:
arr.shape

In [ ]:
arr.reshape(1,25)

In [ ]:
arr.reshape(1,25).shape

In [ ]:
arr.reshape(25,1)

In [ ]:
arr.reshape(25,1).shape

In [ ]:
arr.dtype

In [ ]:
arr=np.arange(0,10)

In [ ]:
arr+arr

In [ ]:
arr*arr

In [ ]:
arr/arr

In [ ]:
arr-arr

In [ ]:
1/arr

In [ ]:
arr**3

In [ ]:
np.exp(arr)

In [ ]:
.sin(arr)

In [ ]:
np.sin(arr)

In [ ]:
np.log(arr)

In [ ]:
np.log(arr)

In [ ]:
arr=np.arange(0,11)
print(arr)

In [ ]:
arr[8]

In [ ]:
arr[1:5]

In [ ]:
arr[0:5]

In [ ]:
arr[0:5]=100
print(arr)

In [ ]:
arr>4

In [ ]:
arr>100

In [ ]:
arr[arr>4]

In [ ]:
arr[arr>5]

### create an array that consist of 12 zeros .
### create an array that consist of 15 ones.create an array that consist of 10 5.create an array that consist of even numbers from 10 to 80 generate the 3*3 matrix consisting of valueand 25 random numbers following bell curve which is positive and negative integer

In [ ]:
np.zeros(12)

In [ ]:
np.ones(15)

In [ ]:
np.ones(10)*5

In [ ]:
np.arrange(10,80,2)

In [ ]:
ab=np.arrange(0,9)

In [ ]:
ab.reshape(3,3)